@{
    ViewBag.Title = "Home Page";
}

<head>
    <link href='https://fonts.googleapis.com/css?family=Patua+One|Hammersmith+One' rel='stylesheet' type='text/css'>
</head>
<button class="btn btn-primary" type="submit">Buy Now</button>
<section id="backgroundslider">
        
        <div id="active" class="firstpic">
            
                <h1>UNITED SHOES</h1>
            
        </div>

        <div class="secondpic">

        </div>
        <div class="thirdpic">

        </div>
        <div class="fourthpic">

        </div>
    
</section>
